@using Ecommerce.Web.Commons;
<div id="PermissionDetails"></div>
<div class="modal-footer">
    <button id="btnSave"
            type="button"
            class="btn btn-info"
            onclick="">
        บันทึก
    </button>
</div>
@{
    await Html.RenderPartialAsync("_PopUpMenuPositionScripts");
}




