@using Ecommerce.Web.Models;
@using Ecommerce.Web.Commons;
@using Ecommerce.Web.Models.Position;
@using Ecommerce.Web.Services.Interfaces
@inject ICommonService common;
@model Position
@{
    ViewData["Title"] = "หน้าหลัก";
    var urlPopUp = Url.Content(Constants.UrlAction.Position.PopUpDialog);
    bool permNew = common.IsPermission(Constants.Menu.Position.Id, Constants.Menu.Position.New);
    var action = Constants.Action.Add;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>ตำแหน่งผู้ใช้งาน</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">ตำแหน่งผู้ใช้งาน</a></li>
                    <li class="breadcrumb-item active">หน้าหลัก</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <!-------------------------- DataTable --------------------------------------->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">ผลการค้นหา</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="dtResult" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.PositionName)</th>
                            <th>@Html.DisplayNameFor(m => m.MenuDefaultName)</th>
                            <th>@Html.DisplayNameFor(m => m.Status)</th>
                            <th>@Html.DisplayNameFor(m => m.CreateDate)</th>
                            <th style="text-align:center">เมนูที่ใช้</th>
                            <th style="text-align:center">
                                @if (permNew)
                                {
                                    <a class="btn btn-info"
                                       onclick="openPopup('','@action','@urlPopUp','เพิ่มตำแหน่งผู้ใช้งาน')">
                                        เพิ่ม
                                    </a>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Script");
    }
}
