<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce.Web</title>
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <partial name="_Header" />
        <partial name="_Sidebar" />
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <partial name="_Footer" />
    </div>
    @{
        await Html.RenderPartialAsync("_LayoutScript");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
