@using Ecommerce.Web.Commons;
@using Ecommerce.Web.Models;
@using Ecommerce.Web.Models.Product;
@model ProductViewModel

<form id="frmDetail" enctype="multipart/form-data" role="form">
    @{
        await Html.RenderPartialAsync("_FormDetail", Model.Product);
    }
</form>
@{
    await Html.RenderPartialAsync("_PopUpScriptsPartial", Model);
}