@using Ecommerce.Web.Commons;
@using Ecommerce.Web.Models;
@model ProductViewModel

<form id="frmDetail" enctype="multipart/form-data" role="form">
    @{
        await Html.RenderPartialAsync("_FormDetail", Model.Product);
    }
    <div style="display: none">
        <input type="text" name="action" value="@Model.Action" />
    </div>
</form>
@{
    await Html.RenderPartialAsync("_PopUpScriptsPartial", Model);
}