@using Ecommerce.Web.Commons;
@using Ecommerce.Web.Models;
@using Ecommerce.Web.Models.User;
@model UserViewModel

<form id="frmDetail">
    @{
        if (Model.Action != "cusUpdate")
            await Html.RenderPartialAsync("_FormDetail", Model.User);
        else
            await Html.RenderPartialAsync("_FormCustomerDetail", Model.User);
    }
    <div style="display: none">
        <input type="text" name="action" value="@Model.Action" />
    </div>
</form>
@{
    await Html.RenderPartialAsync("_PopUpScriptsPartial", Model);
}