@using Ecommerce.Web.Commons;
@using Ecommerce.Web.Models;
@model UserViewModel

<form id="frmDetail">
    @{
        await Html.RenderPartialAsync("_FormDetail", Model.User);
    }
</form>
@{
    await Html.RenderPartialAsync("_PopUpScriptsPartial", Model);
}