@using Ecommerce.Web.Commons;
@using Ecommerce.Web.Models;
@using Ecommerce.Web.Models.Category;
@model CategoryViewModel

<form id="frmDetail" role="form">
    @{
        await Html.RenderPartialAsync("_FormDetail", Model.Category);
    }
    <div style="display: none">
        <input type="text" name="action" value="@Model.Action" />
    </div>
</form>
@{
    await Html.RenderPartialAsync("_PopUpScriptsPartial", Model);
}