@using Ecommerce.Web.Commons;
@using Ecommerce.Web.Models.Category;
@using Ecommerce.Web.Services.Interfaces;
@inject ICommonService common;
@model Category;
@{
    bool permView = common.IsPermission(Constants.Menu.Category.Id, Constants.Menu.Category.ActId.View);
    bool permUpdate = common.IsPermission(Constants.Menu.Category.Id, Constants.Menu.Category.ActId.Update);
    bool permDelete = common.IsPermission(Constants.Menu.Category.Id, Constants.Menu.Category.ActId.Delete);
}
<script>
    let urlDelete = '@Url.Content(Constants.UrlAction.Category.Delete)';
    let url = '@Url.Content(Constants.UrlAction.Category.PopUpDialog)';
    let permDelete;
    let permUpdate;
    let permView;
    if ('@permDelete' == 'True')
        permDelete = true;
    if ('@permUpdate' == 'True')
        permUpdate = true;
    if ('@permView' == 'True')
        permView = true;

    $(function () {
        getList();      
        $('.btn[data-filter]').on('click', function () {
            $('.btn[data-filter]').removeClass('active');
            $(this).addClass('active');
        });
    });

    function getList() {
        $.ajax({
            type: "POST",
            url: '@Url.Content(Constants.UrlAction.Category.GetList)',
            dataType: "json",
            data: {},
            success: function (response) {
                if (response.isSuccess) 
                    onSuccess(response);
                else
                   window.location.href = response.returnUrl;
            },
            error: function () {
                alert('failure');
            }
        });
    }

    function onSuccess(response) {
        $('#dtResult').DataTable({
            bDestroy: true,
            bProcessing: true,
            bLenghtChange: true,
            lengthMenu: [[5, 10, 25, -1], [5, 10, 25, "All"]],
            searching: false, //ช่อง search
            responsive: true,
            autoWidth: false,
            bfilter: true,
            bSort: true,
            bPaginate: true,
            lengthChange: true, //ปุ่มจำนวนแสดงข้อมูล
            //buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"], //แผงปุ่ม export
            data: response.value,
            columns: [
                {
                    data: 'categoryName',
                    render: function (data, type, row, meta) {
                        return row.categoryName
                    }
                },
                {
                    data: 'status',
                    render: function (data, type, row, meta) {
                        if (row.status === 'A') {
                            return '<span class="badge bg-success">'
                                + '' + 'ใช้งาน' + ''
                                + '</span>'
                        }
                        else if (row.status === 'I') {
                            return '<span class="badge bg-dark">'
                                + '' + 'ไม่ได้ใช้งาน' + ''
                                + '</span> '
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    data: 'createDate',
                    render: function (data, type, row, meta) {
                        return row.createDate
                    }
                },
                {
                    data: 'categoryId',
                    render: function (data, type, row, meta) {
                        if (permView && permUpdate && permDelete) {
                            return '<a class="btn btn-info" title="ดูรายละเอียด" onclick=openPopup("' + row.categoryId + '","View","' + url + '","ดูรายละเอียดสินค้า");>'
                                + '<i class="fas fa-eye"></i></a> | '
                                + '<a class="btn btn-warning" title="แก้ไข" onclick=openPopup("' + row.categoryId + '","Update","' + url + '","แก้ไขสินค้า");>'
                                + '<i class="fas fa-pen"></i></a> | '
                                + '<a class="btn btn-danger" title="ลบ"  onclick=confirmDelete("' + row.categoryId + '","' + urlDelete + '","' + row.categoryName + '");>'
                                + '<i class="fas fa-trash"></a>'
                        }
                        else if (permView && permUpdate) 
                        {
                            return '<a class="btn btn-info" title="ดูรายละเอียด" onclick=openPopup("' + row.categoryId + '","View","' + url + '","ดูรายละเอียดสินค้า");>'
                                + '<i class="fas fa-eye"></i></a> | '
                                + '<a class="btn btn-warning" title="แก้ไข" onclick=openPopup("' + row.categoryId + '","Update","' + url + '","แก้ไขสินค้า");>'
                                + '<i class="fas fa-pen"></i></a> '
                        }
                        else if (permView) {
                            return '<a class="btn btn-info" title="ดูรายละเอียด" onclick=openPopup("' + row.categoryId + '","View","' + url + '","ดูรายละเอียดสินค้า");>'
                                + '<i class="fas fa-eye"></i></a>'
                        }
                    }
                }
            ]
        })
    }
</script>
