@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="http://localhost:5133/Upload/product/a6377e50-a417-4c1f-936d-00bc9d8bc2d8/a6377e50-a417-4c1f-936d-00bc9d8bc2d8.png" width="50" height="50" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
